
body{
    background-color: var(--cream);
    border: 3px black;
    font-size: 20px;
    
}

html{
    font-size: 62.5%;
}

:root{
    --cream: rgb(230, 209, 171);
}
/* top of the page nav bar */
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    height:126px;
    
}
    
h1{
    background-color: black;
    font-size: 99px;
    
}

.header .link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    height:25%;
    float: right;
    position: relative; bottom: 97px;
    font-size: 25px;
    background-color: black;
    margin-right: 15px;
    text-decoration: none;
    
}

.header a:hover{
    background-color: white;
    color: black;
}

#pro{
    display: inline;
    position:relative; left:45%; bottom: 97px;
    font-size: 18px;
    background-color: black;
    text-align: right;
}
/*main family photo */
#photo{
    height: 25%;
    width: 100%;
    border: 2px black solid;
   
}
/*About me section start */
#AboutMe{
    background-color: black;
    height: auto;
    color: white;
    width: 100%;
}

#page1{
    background-color: black;
    width: 100%;
    
}

#intro{
    background-color: black;
    margin-top: -10px;
}
/*completed and in work progress*/
.projects{
    background-color: black;
    color: white;
}

#github{
    height: 25%;
    width: 25%;
    border: 2px white solid;
    margin-left: 1%;
    position: relative;
    
}

.foot{
    color: white;
    background-color: black;
    height: auto;
    text-align: center;
    height: 75px;
    font-size: 45px;
    
}